.name-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.profile-pic {
  height: 100px;
  width: 100px;
  margin-right: 20px;
  border-radius: 50px;
}

.animated-name {
  margin: 0;
  font-size: 64px;
  font-weight: bold;
  position: relative;
}

.animated-name span {
  display: inline-block;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s ease-in forwards;
  cursor: default;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.summary-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  opacity: 0; /* Initially hidden */
  transform: translateX(-100%); /* Start off-screen to the left */
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.summary-container.visible {
  opacity: 1;
  transform: translateX(0); /* Slide in to the original position */
}

.summary {
  font-size: 32px;
  font-weight: bold;
}

.box-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 100px;
  opacity: 0; /* Initially hidden */
  transform: translateX(-100%); /* Start off-screen to the left */
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.box-container.visible {
  opacity: 1;
  transform: translateX(0); /* Slide in to the original position */
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  background-color: #183b45;
  border-radius: 10px;
  transition: height 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.box:hover {
  transform: translateZ(20px) scale(1.1); /* Move the box "closer" to the viewer */
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3); /* Add a larger shadow for depth */
}

.box-text {
  font-size: 32px;
}