.references-container {
  display: grid;
  grid-template-rows: 1fr;
}

.reference {
  width: 50%;
  padding: 10px;
  background-color: #183b45;
  border-radius: 10px;
  margin-top: 20px;
  justify-self: center;
}

.reference-name {
  font-size: 32px;
  font-weight: bold;
}

.reference-title {
  margin-top: 5px;
}

.reference-info {
  cursor: text;
  margin-top: 5px;
}

/* Mobile styles (applied when screen width is 768px or less) */
@media (max-width: 768px) {
  .reference {
    width: 90%; /* Make the reference box wider on mobile */
  }

  .reference-name {
    font-size: 24px; /* Reduce font size for mobile */
  }

  .reference-title {
    margin-left: 0; /* Remove left margin for mobile */
    margin-bottom: 5px; /* Add spacing between stacked items */
  }
}