body {
  margin: 0;
  padding: 0;
  background-color: #282c34;
  color: #61dafb;
  font-family: 'Arial', sans-serif;
  overflow: hidden; /* Prevent scrolling during animations */
}

p {
  margin: 0;
  cursor: default;
}

.link {
  text-decoration: none;
  color: #61dafb;
}

/* Navigation Bar Styles */
.navbar {
  display: flex;
  justify-content: center;
  gap: 20px; /* Space between links */
  padding-top: 30px; /* Space below the name */
  padding-bottom: 30px;
  background-color:#183b45;
}

.nav-link {
  text-decoration: none;
  color: #61dafb;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.nav-link:hover {
  background-color: rgba(97, 218, 251, 0.1); /* Light background on hover */
  transform: translateY(-5px); /* Slight lift on hover */
}

.game-container {
  display: flex;
  align-items: center;
  justify-content: center;
}