body {
  margin: 0;
  padding: 0;
  background-color: #282c34;
  color: #61dafb;
  font-family: 'Arial', sans-serif;
  overflow: hidden; /* Prevent scrolling during animations */
}

p {
  margin: 0;
}

.name-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.animated-name {
  margin: 0;
  font-size: 64px;
  font-weight: bold;
  position: relative;
}

.animated-name span {
  display: inline-block;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s ease forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.summary-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  opacity: 0; /* Initially hidden */
  transform: translateX(-100%); /* Start off-screen to the left */
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.summary-container.visible {
  opacity: 1;
  transform: translateX(0); /* Slide in to the original position */
}

.summary {
  font-size: 32px;
  font-weight: bold;
}

.box-container {
  display: flex;
  justify-content: space-between;
  margin: 100px 100px; /* Space between name, boxes, and edges */
  opacity: 0; /* Initially hidden */
  transform: translateX(-100%); /* Start off-screen to the left */
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.box-container.visible {
  opacity: 1;
  transform: translateX(0); /* Slide in to the original position */
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18%;
  height: 200px; /* Initial height */
  background-color: #183b45;
  border-radius: 10px;
  transition: height 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.box:hover {
  height: 350px; /* Expanded height */
  transform: translateY(-20px);
}

.box-text {
  font-size: 32px;
}